// header nav parameters
$mp-header-nav-img-height: 84px;
$mp-header-nav-transition: 200ms;
$mp-header-nav-top: 40px;

// body parameters
$mp-body-padding-top: 115px;
$mp-body-padding-bottom: 30px;

// main slides
$mp-slides-width: 1012px;

// brand colors
$mp-orange: #F16F29;
$mp-blue: #353797;
$mp-teal: #0B87A0;

// Overridden twbs parameters
$navbar-height: auto;
$icon-font-path:"../fonts/";

$navbar-default-bg: #fff;
$navbar-default-border: #fff;
$navbar-default-color: #000;
$navbar-default-link-color: #000;
$navbar-height: 84px;

$btn-border-radius-base: 0;
$border-radius-base: 0;

$brand-primary: $mp-blue;
$brand-info: $mp-orange;
$brand-success: $mp-teal;

$state-success-text: #fff;
$state-success-bg: $mp-teal;
$state-success-border: $mp-teal;

// twbs
@import "../lib/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "_common";
@import "_nav";
@import "_slideshow";
